@{
    ViewData["Title"] = "Owner";
    Layout = "_LayoutOwner";
}
@using Bookington_FE.Models.ResponseModel;
@model AuthLoginResponse;

<section>
    <div class="tabcontent">
        <div id="Index" class="clearfix" style="display:block">
            <h1>Welcome Owner: @Model.result.fullName</h1>
            <img src="/asset/images/badminton-abstract-concept-vector-illustration-2g293wp.jpg" width="50%" height="50%">
            
        </div>
    </div>
</section>
@*<div class="container">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="getnotify" value="GetNotify" onclick="GetNoti()" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/Asset/js/signalr/dist/browser/signalr.js"></script>
<script src="~/Asset/js/chat.js"></script>*@